*{
    margin: 0;
    padding: 0;
}

.titulo{
    background-color:black;
    color: deepskyblue;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.lista-produtos{
    display: flex;
    margin: 10px auto;

}

.produto{
    width: 33.3%;
    text-align: center;
    padding: 80px;

}

.produto img{
    max-width: 100%;
}

.produto p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.produto a{
    background-color: deepskyblue;
    padding: 7px;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 18px;
    border-radius: 100px;

}

.acessar-carrinho{
    padding: 30px 0 30px 80px;
}
.acessar-carrinho a{
    background-color: black;
    padding: 7px;
    text-decoration: none;
    color: deepskyblue;
    font-size: 18px;
    border-radius: 30px;
}
